/* ################################  slide product ################################# */

.slide-product {
	position: relative;
	height: 15rem;
	background-size: cover;
	background-position: top;
}

#img1 {
	background-image: url(/demophoto-1.jpg);
}

#img2 {
	background-image: url(/demophoto-2.jpg);
}

#img3 {
	background-image: url(/demophoto-3.jpg);
}




