
.button-1 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--color1);
    color: var(--color2);
    margin: .5rem;
    min-width: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    cursor: pointer;
    gap: .5rem;
}


.button-1:hover {
    background-color: var(--color2);
    color: var(--color1);
}


.button-2 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--color4);
    color: var(--color1);
    cursor: pointer;
}

.button-91 {
    background-color: var(--color4);
    color: var(--color1);
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    cursor: pointer;
    border-radius: .5rem;
}

.button-91:hover {
    opacity: 0.7;
}

