.class-1 {
    padding: .5rem;
    border-radius: .5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.active-navi {
    border-bottom: 2px solid var(--color2);
    border-radius: .5rem;
}
