.cen-hor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cen-ver {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-1234 {
    background-color: var(--color4);
    color: var(--color1);
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .7rem;
    cursor: pointer;
}

.box-1212 {
    box-shadow: 0 8px 15px -3px rgba(0, 0, 0, 0.25);
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}